:root{
    --bs-primary: #037BC0;
    --bs-success: #8cbc00;
 }

html{
    font-size: 62.5%;
}

body{
    font-family: "raleway";
    font-size: 1.6rem;
    line-height: 2;
}

.hero{
    background-image: url(img/principal.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center center;
}

.muebles{
    color:#037BC0;
}

h1, h2, h3{
    font-family: "playfair";
}

h1{
    font-size: 5rem;
}

h2, h3{
    font-size: 4rem;
}

.hero{
    background-image: url(img/principal.jpg);
    background-repeat: no-repeat;
    height: 55rem;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.btn-success{
    background-color: var(--bs-success) !important;
}

.bg-primary{
    background-color: var(--bs-primary) !important;
}

@media  screen and (max-width: 768px) {
    .hero{
        background-image: url(img/principal.jpg);
        background-repeat: no-repeat;
        height: 25rem;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }
}


